define service{
        use                     generic-service,nagiosgraph
        host_name               {{hostgroups}}
        service_description     CELERY_WORKER
        check_command           check_nrpe!check_celery_worker
        notifications_enabled           1
}
define service{
        use                     generic-service,nagiosgraph
        host_name               {{hostgroups}}
        service_description     listings_feed_status
        check_command           check_nrpe!check_listings_feed_status
        notifications_enabled           1
}

define service{
        use                     generic-service,nagiosgraph
        host_name               {{hostgroups}}
        service_description     CELERY_WORKER_PID
        check_command           check_nrpe!check_celery_worker_process
        notifications_enabled           1
}
