define host{
                use                             linux-server
                host_name                       {{hostname}}
                alias                           {{hostname}}
                address                         {{ip}}
                max_check_attempts              5
                hostgroups                      {{hostgroup}}
                check_period                    24x7
                notification_interval           30
                notification_period             24x7
          }
