define service{
            use                     generic-service,nagiosgraph
            hostgroup_name          {{hostgroup}}
            service_description     {{service_name}}
            check_command           check_nrpe!{{service_cmd}}
            notifications_enabled           1
            }
